.header {
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 910px) {
.header {
  margin-left: 20px;
  margin-right: 20px;
}
}

@media (max-width: 630px) {
.header {
  margin-left: 0px;
  margin-right: 0px;
}
}