.popup__close {
  background-image: url(../../../images/close.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  color: rgb(255, 255, 255);
  position: absolute;
  right: -45px;
  top: -35px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.popup__close:hover {
  opacity: 0.6;
}

@media (max-width: 630px) {
.popup__close {
  width: 26px;
  height: 26px;
  right: 10px;
  top: -55px;
  background-size: cover;
}
}