.popup__title {
  margin-top: 34px;
  margin-left: 36px;
  font-style: normal;
  color: #000000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
}

@media (max-width: 630px) {
.popup__title {
  margin-top: 25px;
  margin-left: 22px;
  font-size: 18px;
  line-height: 22px;
}
}